body {
    margin: 0;
    overflow: hidden;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.option,
#game-name {
    color: #fff;
}

.option {
    font-size: 25px;
}

#game-name {
    font-size: 50px;
}
