:root {
    --btn-font: 50px;
}

.control-bar {
    display: inline-block;
    position: absolute;
    top: 100px;
}

.button {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    font-size: var(--btn-font);
    font-weight: bolder;
}

#score-box {
    display: inline-block;
    position: absolute;
    left: 25px;
    top: 75px;
    background: rgba(0, 0, 0, 0);
    font-size: var(--btn-font);
}

#vue-app {
    position: absolute;
}

#menu {
    width: 300px;
    text-align: center;
    display: inline-block;
    position: absolute;
    color: #ff8585;
    font-size: var(--btn-font);
    font-weight: bolder;
}

#menu p:hover {
    text-align: center;
    color: #ff8762;
    font-size: 57px;
    transition: all 0.5s;
}

#menu p {
    text-align: center;
    color: #ff8585;
    margin: 15px;
    font-size: var(--btn-font);
    transition: all 0.5s;
}

#level-choice-wrapper {
    position: relative;
    left: 50%;
}

#levels {
    position: absolute;
    left: -50%;
    width: 500px;
}

.level-box {
    font-size: 40px;
    text-align: center;
    display: inline-block;
    border: 1.3px solid #fff;
    border-radius: 5px;
    width: 55px;
    height: 55px;
    margin: 10px;
}

.setting {
    font-size: 50px;
    text-align: center;
}