:root {
    --btn-font: 50px;
}

.control-bar {
    display: inline-block;
    position: absolute;
    top: 100px;
}

#message {
    color: #fff;
}

.button {
    display: inline-block;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    font-size: var(--btn-font);
    font-weight: bolder;
}

#score-box {
    display: inline-block;
    position: absolute;
    left: 25px;
    top: 75px;
    background: rgba(0, 0, 0, 0);
    font-size: var(--btn-font);
    color: #ffffff;
}

#vue-app {
    position: absolute;
}

#menu {
    display: inline-block;
    position: absolute;
    color: #ff8585;
    font-size: var(--btn-font);
    font-weight: bolder;
}

#menu p:hover {
    color: #ff8762;
    font-size: 57px;
    transition: all 0.5s;
}

#menu p {
    color: #ff8585;
    margin: 15px;
    font-size: var(--btn-font);
    transition: all 0.5s;
}
